form{
  width:300px;
  margin:auto;
}

label{
  display:block;
  margin-top:10px;
}

input,select{
  width:100%;
  padding:6px;
  margin-top:5px;
}

input:focus{
  border:2px solid blue;
}

button[type="submit"]{
  background:green;
  color:white;
  padding:8px;
}

button[type="reset"]{
  background:red;
  color:white;
  padding:8px;
}
