body{
  margin:0;
}

nav{
  display:flex;
  justify-content:space-around;
  background:black;
  position:sticky;
  top:0;
  padding:10px;
}

nav a{
  color:white;
  text-decoration:none;
  padding:10px;
}

nav a:hover{
  background:#555;
  border-radius:5px;
}
