@media (max-width:600px){

  body{
    font-size:14px;
  }

  nav{
    flex-direction:column;
    align-items:center;
  }

  table{
    width:100%;
  }

  form{
    width:90%;
  }

  img{
    width:100%;
  }
}
