table{
  border-collapse:collapse;
  width:80%;
  margin:auto;
}

th{
  background:#333;
  color:white;
}

tr:nth-child(even){
  background:#f2f2f2;
}

tr:hover{
  background:#ddd;
}

td,th{
  padding:10px;
  border:1px solid gray;
}

tfoot{
  background:#ccc;
}


